.searchBox{
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.searchInput{
    width: 100%;
    font-size: 1rem;
    background: transparent;
    padding: 0.25em 1em;
    border: none;
    outline: none;
}
.searchInput:focus{
    outline: none;
}
.searchBox input::placeholder{
    color: #4e4d4d;
}
.searchButton{
    width: 38px;
    min-width: 38px;
    height: 38px;
    border-radius: 50%; 
    overflow: hidden;
}
.searchIconStyle{
    color: #000;   
    font-size: 22px;
}